<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <link rel="shortcut icon" type="image/icon" href="/images/jd.ico">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<script type="text/javascript">
    $(function () {
        //$("#loginact").val("[[${name}]]")
        //$("#userpswd").val("[[${value}]]")
        var str = document.cookie.split(";")
        $.each(str, function (index, obj) {
            var st = obj.split("=")
            if (st[0].trim() == "pwd") {
                console.log(st[1])
                var sr = st[1].split("-")
                $("#loginact").val(sr[0])
                $("#userpswd").val(sr[1])
            }
        })


        if ($("#loginact").val() != "") {
            $("#sava").prop("checked", true);
        }
    })


    function to_submit() {
        $.ajax({
            url: "login",
            type: "post",
            data: $("#form").serialize(),
            success: function (arr) {
                if (arr == 0) {
                    alert("账号或者密码错误")
                } else {

            location.href="query";
                 }

            }


        })
    }


</script>
<body>
<div class="up">
    <img src="/images/qqtx.jpg" height="45px;" class="hy_img">
    <div class="hy">
        欢迎登录
    </div>
</div>
<div class="middle">
    <div class="login">
        <div class="l1 ">
            <div class="l1_font_01 ">QQ会员</div>
            <a class="l1_font_02 " href="&lt;%=application.getContextPath() %&gt;/to_regist.action">用户注册</a>
        </div>
        <div class="blank_01"></div>
        <div class="ts">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="blank_01"></div>
        <form id="form" method="post">
            <div class="input1">
                <input type="text" class="input1_01" name="loginact" id="loginact">
            </div>
            <div class="blank_01"></div>
            <div class="blank_01"></div>
            <div class="input2">
                <input type="text" class="input1_01" name="userpswd" id="userpswd">

            </div>
            <div class="blank_01"></div>
            <div class="blank_01"></div>
            <div class="box_01">
                <input type="checkbox" class="box_01_box" name="sava" id="sava">
                <div class="box_01_both">
                    <div class="box_01_both_1">保存密码</div>
                    <div class="box_01_both_2">忘记密码？</div>
                </div>
            </div>
        </form>
        <div class="blank_01"></div>
        <a href="#" class="aline">
            <div class="red_button" onclick="to_submit()">
                登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
            </div>
        </a>
        <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="box_down">
            <div class="box_down_1">使用合作网站账号登录京东：</div>
            <div class="box_down_1">京东钱包&nbsp;&nbsp;|&nbsp;&nbsp;QQ
                &nbsp;&nbsp;|&nbsp;&nbsp;微信
            </div>
        </div>
    </div>
</div>

<div class="down">
    <br>
    Copyright©2004-2015 xu.jb.com 版权所有
</div>
</body>
</html>